<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Практична робота №1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Ionic_Logo.svg/2000px-Ionic_Logo.svg.png" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Студент 301 групи</ion-card-subtitle>
      <ion-card-title>Балутін Володимир</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>




