<ion-header>
  <ion-toolbar>
    <ion-title>Мої захоплення</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon slot="start" color="medium" name="game-controller-outline"></ion-icon>
    <ion-label class="ion-text-wrap">
      Комп'ютерні ігри
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" color="medium" name="videocam-outline"></ion-icon>
    <ion-label class="ion-text-wrap">
      Фільми
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" color="medium" name="car-outline"></ion-icon>
    <ion-label class="ion-text-wrap">
      Їзда на автомобілі
    </ion-label>
  </ion-item>

</ion-content>
